.navbar-default{
	background-color: green;
}
.navbar-toggle{
	display: none;
}
.back{
	display: none;
}
@media(max-width: 767px){
	.navbar-toggle{
	display:block;
	transition: .50s;
}
	.back{
	display: block;
}
}
.navbar-nav{
	text-align: center;

	border-bottom: 1px solid black;
	display: block;
	text-transform: uppercase;

}
menu-item{
	border:1px solid black;
}
 

*{
	box-sizing: border-box;
}

.recipie{
	border: 1px solid black;
	margin-bottom: 20px;
	margin-left:20px;
	float: left;
	background-color: grey;
	font-family: Times New Roman, Times, serif;
	
}
	
	


h2{
	margin:0;
	float:right;
	border:1px solid black;
	clear:left;
	padding-left: 10px;
	width:200px;
	padding-right: 10px;
	text-align: center;

}

.fl{
	clear:right;
}

#c1{
	background-color: #A52A2A;
	color:white;
}

#c2{
	background-color: #FFC0CB;
}
#c3{
	background-color: #FFA500;
	
}

@media(min-width: 992px){
     .col-lg-4{
    	float:left;
    }
   
.col-lg-4{
   	 width: 33%;
   	 }
   	 
}
.row{
	width :100%;
}

@media(min-width: 768px) and (max-width: 991px){..col-md-6{
    	float:left;
    }
   
   	.col-md-6{
   	 width: 50%;
   	}
   	
}